/*
  General Styles
 */

:root {
  --bs-font-sans-serif: Poppins, sans-serif;
  --bs-primary: #8490ff;
  --bs-secondary: #62bdfc;
  --bs-light: #f9f9ff;
  --bs-gradient: linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);

}

body {
  font-weight: 300;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

a:hover {
  --bs-link-hover-color: var(--bs-primary);
}


/*
  Utility Classes
 */

.text-sm {
  font-size: 0.9rem;
}

.fs-7 {
  font-size: 3rem;
}

.transition-colors {
  transition: background 150ms, color 300ms;
}

/*
  Components Styles
 */

.section {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.section-title {
  text-transform: uppercase;
  font-weight: bold;
}

.section-title-sm {
  font-size: 0.8rem;
  text-transform: uppercase;
}

.btn-primary {
  border-radius: 0;
  border: none;
  text-transform: uppercase;
  background: var(--bs-gradient);
  padding: 0.7rem 1.2rem;
}

.btn-primary:hover {
  box-shadow: 0px 20px 20px 0px rgb(132 144 255 / 30%);
}

.container {
  --bs-gutter-x: 1.8rem;
}

/*
  Navbar
 */

.navbar {
  --bs-navbar-active-color: var(--bs-primary);
  --bs-navbar-color: var(--bs-black);
}

.navbar-nav {
  --bs-nav-link-hover-color: var(--bs-primary);
}

.nav-link {
  --bs-nav-link-font-weight: 300;
}


/*
  Main
 */


/*
  Header
 */


/*
  My Services
 */

#my-services .service:hover a,
#my-services .service:hover svg {
  color: var(--bs-primary);

}
